<!DOCTYPE html>

<html>
<head>
  <title>Cars Front End</title>
</head>

<body>
  <div class="navbar">
    <h2 class = "text"> Cars </h2>
    
    <a routerLink="" class = "text"> Home </a>
    <a routerLink="cars/paginated/1" class = "text"> Cars </a>
    <a routerLink="dealerships/paginated/1" class = "text"> Dealerships </a>
    <a routerLink="mechanics/paginated/1" class = "text"> Mechanics </a>
    <a routerLink="maintenance/paginated/1" class = "text"> Maintenance </a>
    <a routerLink="statistics" class = "text"> Statistics </a>
  </div>

<router-outlet></router-outlet>

</body>

</html>
